.post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    width: 50%;
    padding: 2.5rem;
    background-color: rgb(255, 215, 215, 20%);
    border-radius: .3rem;
}

img {
    object-fit: contain;
    min-height: 100%;
    max-width: 100%;
}

.post_user {
    display: flex;
    align-items: center;
}

.post-title,
.post_user a {
    font-weight: bold;
}

.like-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.post-likes {
    display: flex;
    align-items: center;
    column-gap: .2rem;
}